#navbar-yellow {
  background-color: #fad859;
}

.header {
  height: auto;
  text-align: center;
}

.welcome-img-div {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-content {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: x-large;
}

.homepage-button-div {
  text-align: center;
}

#header-content {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: x-large;
}

#learn-next-button {
  margin-bottom: 20px;
}

.transition-button-div {
  text-align: center;
}

#quiz_header {
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}
img {
  max-width: 100%;
}
#quiz_image {
  padding-left: 500px;
}
#quiz_responses {
  width: 500px;
}
.next_button {
  color: black;
  background-color: red;
  width: 50px;
  padding-top: 5px;
}

.response_container {
  padding: 10px;
}

.review {
  background-color: yellow;
}
