#navbar-yellow {
  background-color: #fad859;
}

.header {
  height: auto;
  text-align: center;
}

.welcome-img-div {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.header-img-1 {
  height: 500px;
  width: auto;
}

.header-content {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: xx-large;
  font-weight: bold;
}

.header-subcontent {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: medium;
}

.homepage-button-div {
  text-align: center;
}

.homepage-button-img {
  height: 100px;
  width: auto;
}

#header-content {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: x-large;
}

.overview-sing-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.overview-content-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

#learn-button-row {
  margin-bottom: 30px;
}

#learn-progress-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress-bar-text {
  font-size: small;
}

.overview-button-row {
  margin-bottom: 30px;
}

.overview-media-1 {
  max-height: 100px;
  width: auto;
}

.learn-media-1 {
  max-height: 500px;
  width: auto;
}

.transition-button-div {
  text-align: center;
}

#quiz_header {
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}
img {
  max-width: 100%;
}
#quiz_image {
  padding-left: 500px;
}
#quiz_responses {
  width: 500px;
}
.next_button {
  color: black;
  background-color: yellow;
  width: 50px;
  padding-top: 5px;
}

.response_container {
  padding: 10px;
}

.review {
  background-color: yellow;
}

#quiz_quest {
  text-align: left;
  font-size: larger;
  padding-bottom: 20px;
}
ul.bulletpoints {
  list-style-type: square;
}

#drag_here {
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  width: 100%;
  height: 100px;
}
/* .drag_able {
  background-color: yellow;
  padding: 30px;
  text-align: center;
  height: 50px;
  width: 350px;
  z-index: 1;
} */
