{% extends "layout.html" %} {% block content %}

<div class="container">
  <div class="header row">
    <div class="col-12 header-content">
      Welcome to the magnificent cocktail learning platform!
    </div>
  </div>
  <div class="welcome-container container">
    <div class="welcome-row-small row">
      <p>Learn Gin Rickey!</p>
    </div>
    <div class="row">
      <div class="col-12 welcome-img-div">
        <img
          src="https://media1.giphy.com/media/ktCzb8Rm8aoow/giphy.gif"
          alt="welcome page the big lebowski gif"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

{% endblock %}
