{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{url_for('static', filename='keyingredients.js')}}"
></script>
<script>
  let data = {{data|tojson}}
</script>
<div class="container">
  <div class="row overview-title-row">
    <div class="col-12 header-content"></div>
  </div>
  <div class="row overview-content-row">
    <div class="col-6 overview-content"></div>
    <div class="col-6 overview-media"></div>
  </div>
  <div class="row overview-button-row">
    <div class="col-4">
      <span class="overview-prev-button"></span>
      <span class="overview-next-button"></span>
    </div>
  </div>
</div>

{% endblock %}
