{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{url_for('static', filename='learn.js')}}"
></script>
<script>
  let learn_data = {{data|tojson}}
  console.log(learn_data)
</script>
<div class="container">
  <div class="row" id="learn-title-row">
    <div class="col-6" id="header-content"></div>
    <div class="col-6" id="learn-progress-bar">
      <div class="progress-bar-text">Your Progress</div>
      <div class="progress"></div>
    </div>
  </div>
  <div class="row" id="learn-content-row">
    <div class="col-6" id="learn-content"></div>
    <div class="col-6" id="learn-media"></div>
  </div>
  <div class="row" id="learn-button-row">
    <div class="col-4">
      <span id="learn-prev-button"></span>
      <span id="learn-next-button"></span>
    </div>
  </div>
</div>

{% endblock %}
