{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{url_for('static', filename='quiz.js')}}"
></script>
<script>
  let question = {{quiz_question|tojson}}
  let responses = {{quiz_options|tojson}}
  let correct = {{correct|tojson}}
</script>
<script></script>
<div id="quiz_header"></div>
<div id="quiz_quest"></div>
<div id="overall_row"></div>
<div id="quiz_responses"></div>
<div id="drag_me"></div>
<div class="row">
  <div class="col-6">
    <div id="draggable_questions"></div>
  </div>
  <div class="col-6">
    <div id="droppable_spots">
      <div id="first_row"></div>
      <div id="second_row"></div>
      <div id="third_row"></div>
      <div id="fourth_row"></div>
    </div>
  </div>
</div>
<div id="drag_here"></div>
<div id="quiz_image"></div>
<div id="next_button"></div>
{% endblock %}
